# Ignore the build dirs
carl/build/*
smtrat/build/*

# Ignore config files
carl/src/carl/util/CMakeOptions.cpp
carl/src/carl/util/CMakeOptions.h
carl/src/tests/pycarl/core/Test_Variable.pyc
carl/src/tests/pycarl/core/__init__.pyc
carl/.gitignore
carl/.travis.yml
carl/.travis_docker.yml
carl/src/tests/benchmarks/config.h
smtrat/src/cli/config.h
smtrat/src/delta/config.h
smtrat/src/gui/Config.java
smtrat/src/lib/config.h
smtrat/src/lib/modules/CADModule/config.h
smtrat/src/lib/modules/Modules.cpp
smtrat/src/lib/modules/Modules.h
smtrat/src/lib/modules/NewCADModule/NewCADSettings.h
smtrat/src/lib/modules/VSModule/config.h
smtrat/src/lib/strategies/config.h
smtrat/src/lib/utilities/CMakeOptions.cpp
smtrat/src/lib/utilities/CompileInfo.cpp
smtrat/stats.xml
smtrat/.travis/
smtrat/.travis.yml
